<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>IT-Crowd :: Java methods</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container my-2" style="align-content: center;width: 100%;">
  <h3>Project List</h3>
  <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Back to title</a>
  <table style="width:90%;" class="table border-light table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Method name</th>
      <th>Status</th>
      <th>Action</th>
      <th>Date abd time string</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="method:${methods}">
      <td th:text="${method.getMethodName()}"></td>
      <td th:text="${method.getStatus()}"></td>
      <td><a th:href="@{/java/reset/{id}(id=${method.getId()})}" class="btn btn-secondary">Reset</a></td>
      <td th:text="${method.getLastModified()}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
