<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>IT-Crowd :: Python functions</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container my-2" style="align-content: center;width: 100%;">
  <h3>Project List</h3>
  <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Back to title</a>
  <table style="width:90%;" class="table border-light table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Branch ID</th>
      <th>Function name</th>
      <th>Status</th>
      <th>Action</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fun:${funs}">
      <td th:text="${T(the.sharque.itcrowd.devs.JuniorDev).ITCRWD+(fun.getId())}"></td>
      <td th:text="${fun.getMethodName()}"></td>
      <td th:text="${fun.getStatus()}"></td>
      <td><a th:href="@{/python/reset/{id}(id=${fun.getId()})}" class="btn btn-secondary">Reset</a></td>
      <td th:text="${fun.getLastModified()}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
