<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>IT-Crowd :: Settings</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container my-2" style="align-content: center;">
  <h3>General settings</h3>
  <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Back to title</a>
  <table style="width:80%;" class="table table-striped border-light table-responsive-md">
    <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <label for="model">Model</label>
        <select id="model" name="model">
          <option th:selected="${model=='deepseek-coder-v2'}">deepseek-coder-v2</option>
        </select>
      </td>
      <td>
        <a th:href="@{/settings/save/model/}" class="btn btn-secondary">Change</a>
      </td>
    </tr>

    <tr>
      <td>
        <label for="roy">Roy</label>
        <select id="roy" name="roy">
          <option th:selected="${Roy=='active'}">active</option>
          <option th:selected="${Roy=='lazy'}">lazy</option>
          <option th:selected="${Roy=='day off'}">day off</option>
        </select>
      </td>
      <td>
        <a th:href="@{/settings/save/roy/}" class="btn btn-secondary">Change</a>
      </td>
    </tr>

    <tr>
      <td>
        <label for="moss">Moss</label>
        <select id="moss" name="moss">
          <option th:selected="${Roy=='active'}">active</option>
          <option th:selected="${Roy=='lazy'}">lazy</option>
          <option th:selected="${Roy=='day off'}">day off</option>
        </select>
      </td>
      <td>
        <a th:href="@{/settings/save/moss/${moss}}" class="btn btn-secondary">Change</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
