<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>IT-Crowd :: Settings</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container my-2" style="align-content: center;">
  <h3>General settings</h3>
  <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Back to title</a>
  <!--/*@thymesVar id="Model" type="java.lang.String"*/-->
  <!--/*@thymesVar id="Temperature" type="java.lang.String"*/-->
  <!--/*@thymesVar id="Language" type="java.lang.String"*/-->
  <!--/*@thymesVar id="Roy" type="java.lang.String"*/-->
  <!--/*@thymesVar id="Moss" type="java.lang.String"*/-->
  <form th:action="@{/settings/update}" type="GET">
    <label for="Model">Model</label>
    <select id="Model" name="Model">
      <option th:selected="${Model=='deepseek-coder-v2:latest'}" value="deepseek-coder-v2:latest">deepseek-coder-v2 - better</option>
      <option th:selected="${Model=='llama3.2:latest'}" value="llama3.2:latest">llama3.2 - faster</option>
    </select>

    <label for="Temperature">Language</label>
    <select id="Temperature" name="Temperature">
      <option th:selected="${Temperature=='0.0'}" value="0.0">0.0: Strong</option>
      <option th:selected="${Temperature=='0.2'}" value="0.2">0.2: Low</option>
      <option th:selected="${Temperature=='0.5'}" value="0.5">0.5: Normal</option>
      <option th:selected="${Temperature=='1.0'}" value="1.0">1.0: Creative</option>
      <option th:selected="${Temperature=='2.0'}" value="2.0">2.0: Crazy</option>
      <option th:selected="${Temperature=='5.0'}" value="5.0">5.0: Mad professor</option>
    </select>

    <label for="Language">Language</label>
    <select id="Language" name="Language">
      <option th:selected="${Language=='English'}" value="English">English</option>
      <option th:selected="${Language=='Russian'}" value="Russian">Русский</option>
    </select>

    <label for="Roy">Roy</label>
    <select id="Roy" name="Roy">
      <option th:selected="${Roy=='active'}">active</option>
      <option th:selected="${Roy=='lazy'}">lazy</option>
    </select>

    <label for="Moss">Moss</label>
    <select id="Moss" name="Moss">
      <option th:selected="${Moss=='active'}">active</option>
      <option th:selected="${Moss=='lazy'}">lazy</option>
    </select>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
</body>
</html>
