<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>IT-Crowd :: Title</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container my-2" style="align-content: center;">
  <h3>Welcome to IT-Crowd of your own AI department</h3>
  <table class="table border-primary">
    <tr>
      <th>Action</th>
      <th>Current state</th>
    </tr>

    <tr>
      <td><a th:href="@{/chat}" class="btn btn-primary btn-sm mb-3">Check chat</a></td>
      <td></td>
    </tr>

    <!--    <tr>-->
    <!--      <td><a th:href="@{/settings}" class="btn btn-primary btn-sm mb-3">Settings</a></td>-->
    <!--      <td></td>-->
    <!--    </tr>-->

    <tr>
      <td><a th:href="@{/git}" class="btn btn-primary btn-sm mb-3">Check work you your devops (Roy)</a></td>
      <td th:text="${roy}"></td>
    </tr>

    <tr>
      <td><a th:href="@{/dev}" class="btn btn-primary btn-sm mb-3">Check work of your junior dev (Moss)</a></td>
      <td th:text="${moss}"></td>
    </tr>
  </table>
</div>
</body>
</html>
